/*======== GERAL =========*/

body {
	margin: 0;
	padding: 0;
	font-family: 'arial';
}

.container {
	margin: 0 100px;
	display: flex;
	justify-content: space-between;
}

/*======== CABEÇALHO =========*/

header {
	background: #24388B;
	padding: 10px 0;
}

h1 {
	margin: 0;
	padding: 0;
}

ul.principal {
	margin: 36px 0 0 0;
	padding: 0;
	list-style: none;
}

li.emLinha {
	display: inline;
	padding: 0;
	margin: 0 16px 0 0;
}

li.emLinha:last-child {
	margin: 0;
}

li.emLinha a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

li.emLinha a:hover {
	color: cyan;
}

li.emLinha a span {
	color: cyan;
	font-size: 14px;
	display: inline-block;
	transform: rotate(0deg);
	transition: transform 0.1s;
}

li.emLinha:hover a span {
	transform: rotate(180deg);
}

ul.oculto {
	visibility: hidden;
	background: #fff;
	border: solid 1px #000;
	border-radius: 5px;
	list-style: none;
	position: absolute;
	padding: 5px 10px;
	margin-left: 60px;
	transform: translateY(-10px);
	opacity: 0;
	transition: opacity 0.2s, transform 0.2s;
}

li.emLinha:hover ul.oculto {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

ul.oculto li {
	padding: 5px 0;
}

ul.oculto li a {
	color: #000;
}

/*======== SEÇÃO 1 =========*/

.blocoFig {
	width: 32%;
	margin: 50px 0;
}

.blocoFig figure {
	margin: 0;
}

.blocoFig figure img {
	max-width: 100%;
}

.blocoFig h2 {
	margin: 5px 0 0 0;
	text-align: center;
}

.blocoFig a {
	text-decoration: none;
	color: #2593d1;
	opacity: 1;
	transition: opacity 0.2s;
}

.blocoFig a:hover {
	opacity: 0.7;
	transition: opacity 0.2s;
}

/*======== SEÇÃO 2 =========*/

.margemSecao2 {
	margin: 20px 0;
}

.margemSecao2 h3 {
	margin: 0 auto;
	font-size: 36px;
}

/*======== SEÇÃO 3 =========*/

article {
	width: 49%;
}

article p {
	text-align: justify;
}

/*======== RODAPÉ =========*/

footer {
	background: #24388B;
	padding: 30px 0;
	margin-top: 20px;
}

.divRodape {
	width: 23%;
}

.divImagem {
	text-align: center;
}

.divImagem img {
	margin-bottom: 30px;
}

.divImagem img:last-child {
	margin-bottom: 0;
}

.imgBloco02 {
	margin-bottom: 36px;
}

.divRodape p {
	color: #BCD3DC;
	margin: 0 0 30px 0;
}

.divRodape p:last-child {
	margin: 0;
}

.divRodape p.pLink {
	color: #FFF;
	font-weight: bold;
}

.divRodape p:first-child {
	margin-top: 100px;
}

.divImagem {
	margin-right: 15px;
	margin-bottom: 60px;
}

.divImagem:last-child {
	margin-right: 0;
}

/*======== INTERNAS =========*/

.interna {
	margin-top: 50px;
	margin-bottom: 50px;
}

.legenda {
	width: 50%;
	text-align: justify;
	font-size: 20px;
	margin: 0;
}

.figuraLegenda {
	width: 48%;
	margin: 0;
}

.figuraLegenda img {
	max-width: 100%;
}

/*======== CONTATO =========*/

.mapa {
	width: 100%;
	height: 450px;
	border: none;
	margin: 0 0 50px 0;
}

form {
	width: 100%;
}

.blocoPrincipal {
	display: block;
	width: 100%;
}

.blocoInline {
	display: inline-block;
	width: 49.5%;
	margin: 5px 0;
}

.blocoInline input[type="text"], .blocoInline input[type="number"], .blocoInline input[type="email"], .blocoInline input[type="password"] {
	background: #BEE3E7;
	padding: 5px;
	font-size: 16px;
	border: none;
	box-shadow: 2px 2px 2px #8E8E8E;
	width: 98%;
}
.blocoTextArea {
	display: inline-block;
	width: 99%;
	margin: 10px 0;
}
.blocoTextArea textarea {
	background: #BEE3E7;
	padding: 5px;
	font-size: 16px;
	border: none;
	box-shadow: 2px 2px 2px #8E8E8E;
	width: 98%;
	font-family: 'arial';
}
.blocoInline input[type="submit"] {
	background: #b03219;
	font-size: 22px;
	color: #FFF;
	border: none;
	box-shadow: 2px 2px 2px #8E8E8E;
	border-radius: 5px;
	padding:  5px 10px;
	cursor: pointer;

}
.blocoInline input[type="submit"]:hover{
	background: #bd5642;
	transition: background 0.3s;
}